.warning {
    color: red;

    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        color: red;
    }

    50% {
        color: black;
    }

    100% {
        color: red;
    }
}

.ok {
    color: green;

}